.page-row.page-row--bg-gray
  .clients.page-row__container
    h1.clients__title OUR CLIENTS
    p.clients__slogan
     | Always serve with honesty, integrity and transparency.
     br
     | Always, first understand your business needs and objectives.
    .clients__logo-list
      img.clients__logo(src="images/companies/company1.png", alt="")
      img.clients__logo(src="images/companies/company2.png", alt="")
      img.clients__logo(src="images/companies/company3.png", alt="")
      img.clients__logo(src="images/companies/company4.png", alt="")
      img.clients__logo(src="images/companies/company5.png", alt="")
