.page-row.page-row--bg-red
  .footer.page-row__container
    nav.navigation
            ul.navigation__list
              li.navigation__item
                a.navigation__item-link HOME
              li.navigation__item
                a.navigation__item-link ABOUT
              li.navigation__item
                a.navigation__item-link SERVICES
              li.navigation__item
                a.navigation__item-link PROJECTS
              li.navigation__item
                a.navigation__item-link CAREER
              li.navigation__item
                a.navigation__item-link CONTACT
    .social.footer__social
          .social__icon.facebook-f
          .social__icon.instagram-f
          .social__icon.twitter-f
          .social__icon.linked-in-f
    .footer__address BC Knowledge Park, Suddagunte Palya, Bengaluru, Karnataka 560029
    .footer__ellipse-line
    .footer__copyrights © 2018 GANGLAND CONSTRUCTIONS ALL RIGHTS RESERVED