header.page-row.page-row--shadow
      .header.page-row__container
        .logo
          img.logo__img(src="./images/logo.png", alt="Gangland Construction Company")
        .contacts
          .contacts__box
            .contacts__icon.phone
            span.contacts__info 9402591290
          .contacts__box
            .contacts__icon.email
            span.contacts__info nvn@company.in
        .social
          .social__icon.social--left-margin.facebook
          .social__icon.social--left-margin.instagram
          .social__icon.social--left-margin.twitter