section.page-row.page-row--bg-blue
      .home.page-row__container
        .home__menu
          nav.navigation
            ul.navigation__list
              li.navigation__item
                a.navigation__item-link HOME
              li.navigation__item
                a.navigation__item-link ABOUT
              li.navigation__item
                a.navigation__item-link SERVICES
              li.navigation__item
                a.navigation__item-link PROJECTS
              li.navigation__item
                a.navigation__item-link CAREER
              li.navigation__item
                a.navigation__item-link CONTACT
          a.login LOG IN
        .home__form-box
          img(src="images/home-image.png", alt="Home image").home__img
          .quote-form
            h3.quote-form__title GET A QUOTE
            input(type="text" placeholder="NAME").quote-form__input
            input(type="text" placeholder="EMAIL").quote-form__input
            input(type="text" placeholder="PHONE").quote-form__input
            textarea(name="", cols="30", rows="2" placeholder="MESSAGE").quote-form__input.quote-form__message
            input(type="button" value="SEND").quote-form__input.quote-form__submit