.page-row.page-row--bg-red
  .projects.page-row__container
    h1.projects__title ONGOING PROJECTS
    ul.projects__list-box
      li.single-project.projects__list-item
        .single-project__img-box
          img.single-project__image-back(src="images/rectange.png", alt="")
          img.single-project__image-front(src="images/smart-homes-1.jpg", alt="")
        .single-project__info-box
          h2.single-project__title SMART HOMES
          .single-project__line
          p.single-project__caption To believe in sustainable development and to shift sustainable energy has become imperative.
          a.single-project__button(href="#") KNOW MORE
      li.single-project.projects__list-item
        .single-project__img-box
          img.single-project__image-back(src="images/rectange.png", alt="")
          img.single-project__image-front(src="images/smart-homes-2.jpg", alt="")
        .single-project__info-box
          h2.single-project__title SMART HOMES
          .single-project__line
          p.single-project__caption To believe in sustainable development and to shift sustainable energy has become imperative.
          a.single-project__button(href="#") KNOW MORE