.page-row.page-row--bg-gray
  .services.page-row__container
    .split-box.services__item
      .info-block.split-box__info.split-box--left
        h1.info-block__title.info-block__title--color-dark OUR SERVICES
        .info-block__line.info-block__line--thick
        .info-block__caption We have an international experienced O&amp;M division, which takes preventive and corrective maintenance services for solar plants across the globe. Our team operates and maintains solar power plants, offers monthly reporting on generation and activities, provides project commissioning expertise along with developing mechanism to retrieve and manage
      .split-box__image-box.split-box--right
        img.split-box__image(src="images/services.jpg", alt="OUR SERVICES")
    .split-box.services__item
      .split-box__image-box.split-box--left
        img.split-box__image(src="images/solar.jpg", alt="SOLAR POWER PROJECT")
      .info-block.info-block--bg-white.split-box__info.split-box--right
        .info-block__title SOLAR POWER PROJECT
        .info-block__line
        .info-block__caption.info-block__caption--color-darker Conventional energy is finite. To light up tomorrow’s world you need imaginative, innovative solutions.
        a.info-block__link.info-block__link--border-red KNOW MORE
    .split-box.services__item
      .split-box__image-box.split-box--left
        img.split-box__image(src="images/building-construction.jpg", alt="BUILDING CONSTRUCTION")
      .info-block.info-block--bg-white.split-box__info.split-box--right
        .info-block__title BUILDING CONSTRUCTION
        .info-block__line.info-block__line--short
        .info-block__caption.info-block__caption--color-dark Meera Enterprises is the leading infrastructure and construction company in Rajasthan, India.
        a.info-block__link.info-block__link--border-red KNOW MORE
    .split-box.services__item
      .split-box__image-box.split-box--left
        img.split-box__image(src="images/road.jpg", alt="ROAD CONSTRUCTION")
      .info-block.info-block--bg-white.split-box__info.split-box--right
        .info-block__title ROAD CONSTRUCTION
        .info-block__line.info-block__line--short
        .info-block__caption.info-block__caption--color-dark Meera Enterprises is the leading infrastructure and construction company in Rajasthan, India.
        a.info-block__link.info-block__link--bg-red KNOW MORE